## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>${article['id']}</title>
		<link rel="stylesheet" href="../../css/style.css">
	</head>
	<body>
		<div id="container">
			<header>
				<h1><a href="../../index.html">TALN Archives</a></h1>
				<h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
			</header>

			<nav>
				<ul>
					<li><a href="../../index.html">Accueil</a></li>
					<li><a href="../index.html">${meta['conference']}</a></li>
					<li><a href="index.html">${meta['acronyme']}</a></li>
					<li>${article['id']}</li>
				<ul>
			</nav>

			<section class="main" id="content">

				## TITRE
				<h1 class="article">
				% if article['titre'] != "" :
					${article['titre'] | h}
				% else :
					${article['title'] | h}
				% endif
				</h1>

				## AUTEURS
				<h2 class="article">${', '.join(article['auteurs'])}</h2>


				## Résumé de l'article
				% if article['resume'] != "" :
				<p class="resume">
					<b>Résumé : </b> ${article['resume'] | h}
				</p>
				% endif
				% if article['abstract'] != "" :
				<p class="abstract">
					<b>Abstract : </b> ${article['abstract'] | h}
				</p>
				% endif

				## Mots clés de l'article
				% if article['mots_cles'] != "" :
				<p class="mots_cles">
					<b>Mots clés : </b> ${article['mots_cles'] | h}
				</p>
				% endif
				% if article['keywords'] != "" :
				<p class="keywords">
					<b>Keywords : </b> ${article['keywords'] | h}
				</p>
				% endif

				<ul class="download">
					<li>Téléchargement :</li>
					<li>[<a href="${article['id']}.pdf">article</a>]</li>
					<li>[<a href="${article['id']}.bib">bibtex</a>]</li>
				<ul>

			</section>

			<footer>
				&copy; <a href="http://www.florianboudin.org">Florian Boudin</a>
			</footer>
			
		</div>
	</body>
</html>