## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>TALN Archives, actes de la conférence {$conference}</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div id="container">
			<header>
				<h1><a href="../index.html">TALN Archives</a></h1>
				<h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
			</header>

			<nav>
				<ul>
					<li><a href="../index.html">Accueil</a></li>
					<li>${conference}</li>
				<ul>
			</nav>

			<section class="main" id="content">

			<h1> Actes de la conférence ${conference} </h1>
			<ul>
			% for info in editions :
				<li>
					<a href="${info['path']}">${conference} ${info['annee']} ${info['lieu']}</a> 
				</li>
			% endfor
			</ul>

			</section>

			<footer>
				<a href="http://www.florianboudin.org">Florian Boudin</a> (Mainteneur, 2013-)
			</footer>
		</div>
	</body>
</html>