## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>TALN Archives, actes de la conférence {$conference}</title>
		% if atelier:
			<link rel="stylesheet" href="../../css/reset.css">
			<link rel="stylesheet" href="../../css/large_style.css">
		% else :
			<link rel="stylesheet" href="../css/reset.css">
			<link rel="stylesheet" href="../css/large_style.css">
		% endif
	</head>
	<body>
		<div id="container">
			<header>
				<h1><span class="taln">taln</span><span class="arch">archives</span></h1>
				<h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
			</header>

			<nav>
				<ul>
				% if atelier:
					<li><a href="../../index.html">Accueil</a></li>
				% else :
					<li><a href="../index.html">Accueil</a></li>
				% endif
					<li>${conference}</li>
				</ul>
			</nav>

			<section class="main" id="content">

			% if atelier:
				<h1> Ateliers de la conférence ${conference} </h1>
			% else :
				<h1> Actes de la conférence ${conference} </h1>
			% endif

			<ul>
			% for info in editions :
				% if atelier:
				<li>
					<a href="${info['path']}">${info['atelier']}</a> 
				</li>
				% else :
				<li>
					<a href="${info['path']}">${conference} ${info['annee']} ${info['lieu']}</a> 
				</li>
				% endif
			% endfor
			</ul>

			</section>

			<footer>
				<a href="http://www.florianboudin.org">Florian Boudin</a> (Mainteneur, 2013-)
			</footer>
		</div>
	</body>
</html>