## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>${meta['acronyme']}</title>
		% if meta['atelier']:
			<link rel="stylesheet" href="../../../css/reset.css">
			<link rel="stylesheet" href="../../../css/large_style.css">
		% else :
			<link rel="stylesheet" href="../../css/reset.css">
			<link rel="stylesheet" href="../../css/large_style.css">
		% endif
	</head>
	<body>
		<div id="container">
			<header>
				<h1><span class="taln">taln</span><span class="arch">archives</span></h1>
				<h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
			</header>

			<nav>
				<ul>
				% if meta['atelier']:
					<li><a href="../../../index.html">Accueil</a></li>
				% else :
					<li><a href="../../index.html">Accueil</a></li>
				% endif
					<li><a href="../index.html">${meta['conference']}</a></li>
					<li>${meta['acronyme']}</li>
				</ul>
			</nav>

			<section id="titreConf">
				<h1>Actes de la ${meta['titre']} (${meta['acronyme']}), ${meta['ville']} (${meta['pays']})</h1>
			</section>

			<section id="content">

			% for typeArticle, text in meta['typeArticles']:
				<h1 id="${typeArticle}" class="typeArticle">${text}</h1>

				<ul id="article_list">
			
				% for article in articles :

					% if article['type'] == typeArticle:
					<li>
					<!-- <div class="article"> -->

						## AUTEURS
						<span class="article_authors">${', '.join([u+' '+v for u,v in article['auteurs']])}</span>
						## LIENS VERS LE BIBTEX
						&raquo;
						% if article['pdf'] == True:
						[<a href="${article['id']}.pdf">article</a>]
						%endif
						[<a href="${article['id']}.bib" download>bib</a>]
						[<a href="${article['id']}.html">résumé</a>]
						## RETOUR À LA LIGNE
						<br/>
						## TITRE DE L'ARTICLE
						<span class="article_title">
							% if article['titre'] != "" :
								${article['titre'] | h}
							% else :
								${article['title'] | h}
							% endif
						</span>
						## <br/>
						## uid: ${article['id']}

						## % if article['id'] in meta['meilleurArticle']:
						## - <span class="important">Prix du Meilleur Papier</span>
						## % endif -->
		
					</li>
					%endif
					
				% endfor

				</ul>

			% endfor

			</section>

			<footer>
				<a href="http://www.florianboudin.org">Florian Boudin</a> (Mainteneur, 2013-)
			</footer>
			
		</div>
	</body>
</html>