## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>TALN Archives</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/large_style.css">

		<script>
		  (function() {
		    var cx = '016116516296979599781:dihp-fgloni';
		    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//www.google.com/cse/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
		  })();
		</script>

	</head>
	<body>
		<div id="container">
			<header>
				<h1><span class="taln">taln</span><span class="arch">archives</span></h1>
				<h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
			</header>

			<nav>
				<ul>
					<li><a href="index.html">Accueil</a></li>
				<ul>
			</nav>

			<section class="main" id="content">

			<p>L'archive regroupe actuellement <b>${nb_papers}</b> articles sur la thématique du Traitement Automatique de la Langue (TAL).</p>

			<h2> Conférences </h2>
			<ul>
			% for conference in conferences :
				<li>
					<b><a href="conferences/${conference}/index.html">${conference}</a> : </b>
				% for info in conferences[conference]:
					% if info.has_key('path'):
						<a href="${info['path']}">${info['annee'][2:4]}</a> 
					% else :
						<span style="color:Crimson;">${info['annee'][2:4]}</a>
					% endif
				% endfor
				</li>
			% endfor
			</ul>

			<h2> Ateliers </h2>
			<ul>
			% for atelier in ateliers :
				<li>
					<b><a href="ateliers/${atelier}/index.html">${atelier}</a> : </b>
				% for info in ateliers[atelier]:
					% if info.has_key('path'):
						<a href="${info['path']}">${info['annee'][2:4]}</a> 
					% else :
						<span style="color:Crimson;">${info['annee'][2:4]}</a>
					% endif
				% endfor
				</li>
			% endfor
			</ul>

			<h2> Rechercher </h2>
			<ul>
				<li> Recherche par <a href="mots_cles.html">mot-clé</a> </li>
				<li> Recherche par <a href="auteurs.html">auteur</a> </li>
				<li> Rechercher dans l'archive : <span id="searchbox"><gcse:searchbox-only></gcse:searchbox-only></span> </li>
			</ul>

			<!-- <h2> Rechercher un article avec Google </h2> -->
			<!-- <span id="searchbox"><gcse:searchbox-only></gcse:searchbox-only></span> -->

			</section>



			<section id="droits">
				Les articles scientifiques au format pdf ont été récupérés à partir des différents sites web des conférences, et les droits appartiennent à l'<a href="http://www.atala.org">ATALA</a>.
				L'ensemble des meta-informations disponibles sur TALN Archives sont disponibles sous licence Creative Commons CC-BY-NC.
				La version papier des actes de la conférence TALN-RECITAL 2006 peut-être commandé sur <a href="http://www.i6doc.com/fr/livre/?GCOI=28001100915250">i6doc</a>.
				Une archive complète est <a href="https://github.com/boudinfl/taln-archives">téléchargeable ici</a>. 
			</section>

			<footer>
				<a href="http://www.florianboudin.org">Florian Boudin</a> (Mainteneur, 2013-)
			</footer>
		</div>
	</body>
</html>