## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>TALN Archives</title>
		<link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/large_style.css">
	</head>
	<body>
		<div id="container">
			<header>
                <h1><span class="taln">taln</span><span class="arch">archives</span></h1>
                <h2>Une archive numérique francophone des articles de recherche en Traitement Automatique de la Langue.</h2>
            </header>

            <nav>
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li>Liste des ${mode_recherche | h}</li>
                </ul>
            </nav>

			<section class="main" id="content">

			<h2> Liste des ${mode_recherche | h} </h2>

			<table border="1">
    		% for cle in sorted(dict):
    			<tr>
    				<td>${cle}</td>
    				<td>
    					<ul>
    					% for id, titre, lien in dict[cle]:
    						<li><a href="${lien}">${titre}</a></li>
        				% endfor
        				</ul>
        			</td>
        		</tr>
    		% endfor
			</table>

			</section>
			
			<footer>
				<a href="http://www.florianboudin.org">Florian Boudin</a> (Mainteneur, 2013-)
			</footer>
		</div>
	</body>
</html>