* {margin: 0; padding: 0;}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 75%;
	min-width: 800px;
	line-height: 150%;
	margin: auto;
	background-color: white;
	color: rgb(26, 29, 38);
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 140%;
	/*margin-top: px;*/
	margin-bottom: 10px;
}

h2 {
	font-size: 125%;
	margin-top: 5px;
	margin-bottom: 8px;
}

h3 {
	font-size: 115%;
	margin-top: 3px;
	margin-bottom: 5px;
}

b {
	font-weight: bold;
}

ul li {
	margin-left: 10px;
	list-style-position: inside;
	list-style-type: square;
}

a, a:link, a:visited, a:active, a:hover {
	color: rgb(79, 104, 140);
	cursor: pointer;
	text-decoration: underline;
}

a:hover {
	color: Crimson;
	text-decoration: underline;
}


/* Style du conteneur général *************************************************/
#container {
	margin: 0px 10px;
	background-color: white;
	padding: 0px;
}

header h1 span.taln {
	color: rgb(79, 104, 140);
}

header h1 span.arch {
	color: rgb(26, 29, 38);
	font-weight: bold;
}

/* Style du header talnarchives ***********************************************/
header {
	margin-top: 5px;
	padding: 10px;
	background-color: #EEF;
	border: 1px solid rgb(79, 104, 140);
}

header h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 250%;
}

header h2 {
	margin: 0px;
}

header a, header a:link, header a:active, header a:visited, header a:hover {
	text-decoration: none;
	color: MidnightBlue;
}

/* Style de la navigation *****************************************************/
nav {
	margin-top: 5px;
	padding: 3px 10px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(79, 104, 140);
}

nav li {
	margin: 0px;
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
	line-height: 120%;
	display: inline;
}

nav li+li:before {
	content: "\00BB \0020"; 
	/*color: Crimson;*/
}

/* Style du footer ************************************************************/
footer {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #EEF;
	border: 1px solid rgb(79, 104, 140);
}

/* Style du titre de la conférence ********************************************/

section#titreConf {
	margin: 5px 0px;
	padding: 10px;
	background-color: #FEE;
	border: 1px solid rgb(79, 104, 140);
}

section#titreConf h1 {
	font-size: 130%;
	margin: 0px;
}

/* Style du content ***********************************************************/
#content {
	margin: 5px 0px 0px 0px;
	padding: 10px;
	border: 1px solid rgb(79, 104, 140);
}

#content h1.typeArticle {
	font-size: 120%;
	border: 1px solid rgb(79, 104, 140); 
	background-color: #EEF;
	padding: 3px 5px;
}

#content h1.typeArticle+ul { 
	margin-top :10px;
}

#content ul+h1.typeArticle { 
	margin-top :10px;
}

#article_list li {
	padding: 2px 5px;
	margin: 0px 0px 0px 0px;
	font-size: 95%;
	line-height: 130%;
}

#article_list li+li {
	margin-top: 8px;
}

#content span.important {
	color: Crimson;
}

#content span.article_authors {
	font-weight: bold;
}

#content span.article_title {
	font-style: italic;
	margin-left: 18px;
}

/* Style du content de la page article ****************************************/

#content p.resume+p, #content p.mots_cles+p, #content p.abstract+p, #content p.keywords+p {
	/*padding: 5px 0px;*/
	margin: 10px 0px;
	/*line-height: 150%;*/
}

#content h2.article {
	font-style: italic;
}

#content ul.download {
	background-color: #FEE;
	border: 1px solid rgb(79, 104, 140);
	padding: 5px;
	/*margin-bottom: 5px;*/
}

#content ul.download li {
	margin: 0px;
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
	line-height: 120%;
	display: inline;
}

/* Style des droits ***********************************************************/
section#droits {
	margin-top: 5px;
	padding: 5px;
	background-color: #FEE;
	border: 1px solid rgb(79, 104, 140);
	margin-bottom: 5px;
}


/* Styles des tables pour les recherches **************************************/
table {
	border-collapse: collapse;
	border: 1px solid grey;
	width: 100%;
}

td, th {
	padding: 1px 3px;
}

tr:nth-child(even) {
	background: #EEE;
}

tr:nth-child(odd) {
	background: #FFF;
}

#searchbox {
	width: 500px;
	display: inline-block;
	vertical-align: middle;
}

