* {
	margin: 0; padding: 0;}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	width: 80%;
	line-height: 150%;
	margin: auto;
	background-color: white;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 140%;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	font-size: 125%;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 115%;
	margin-top: 3px;
	margin-bottom: 5px;
}

ul li {
	margin-left: 10px;
	list-style-position: inside;
	list-style-type: square;
}

a, a:link, a:visited, a:active, a:hover {
	color: MidnightBlue;
	cursor: pointer;
	text-decoration: underline;
}

a:hover {
	color: Crimson;
}


/* Style du conteneur général *************************************************/
#container {
	margin: 10px 10px;
	background-color: white;
	padding: 0px;
}


/* Style du header Taln Archives **********************************************/
header {
	padding: 5px;
	background-color: #EEF;
	border: 1px solid MidnightBlue;
	color: MidnightBlue;
}

header h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 160%;
}

header h2 {
	margin: 0px;
}

header a, header a:link, header a:active, header a:visited, header a:hover {
	text-decoration: none;
	color: MidnightBlue;
}

/* Style du footer ************************************************************/
footer {
	margin-top: 5px;
	padding: 5px;
	background-color: #EEF;
	border: 1px solid MidnightBlue;
	color: MidnightBlue;
}

/* Style du info **************************************************************/
section#info {
	margin: 5px 0px 0px 0px;
	padding: 0px 5px 15px 5px;
	color: #222;
	border-top: 1px solid MidnightBlue;
	border-left: 1px solid MidnightBlue;
	border-right: 1px solid MidnightBlue;
	background-image:-moz-linear-gradient(#EEE, white 60px);
	background-image:-webkit-linear-gradient(#EEE, white 60px);
	background-image:-o-linear-gradient(#EEE, white 60px);
	background-image:linear-gradient(#EEE, white 60px);
}

section#info h2 {
	margin: 0px;
	font-style: italic;
	font-size: 120%;
}


/* Style de la navigation *****************************************************/
nav {
	margin-top: 5px;
	padding-left: 5px;
	background-color: #FEE;
	border: 1px solid Crimson;
	color: midnightBlue;
}

nav li {
	margin: 0px;
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
	line-height: 120%;
	display: inline;
}

nav li+li:before {
	content: "\00BB \0020"; 
	/*color: Crimson;*/
}

/* Style du content ***********************************************************/
#content {
	margin: 0px;
	padding: 0px 5px;
	border-bottom: 1px solid MidnightBlue;
	border-left: 1px solid MidnightBlue;
	border-right: 1px solid MidnightBlue;
}

#content h1.typeArticle {
	font-size: 120%;
	border-bottom: 1px dashed MidnightBlue;
	color: MidnightBlue;
	margin: 0px;
}

#content h1.typeArticle+ul { 
	margin-top :10px;
}

#content ul+h1.typeArticle { 
	margin-top :10px;
}

#article_list li {
	/*list-style-type: none;*/
	padding: 2px 5px;
	margin: 0px;
	font-size: 95%;
	line-height: 130%;
}

#article_list li+li {
	margin-top: 8px;
}

#content span.important {
	color: Crimson;
}

#content span.article_authors {
	font-weight: bold;
}

#content span.article_title {
	font-style: italic;
}

/* Style du content de la page article ****************************************/

#content p.resume+p, #content p.mots_cles+p, #content p.abstract+p, #content p.keywords+p {
	/*padding: 5px 0px;*/
	margin: 10px 0px;
	/*line-height: 150%;*/
}

#content h2.article {
	font-style: italic;
}

#content ul.download {
	background-color: #FEE;
	border: 1px solid Crimson;
	padding: 5px;
	margin-bottom: 5px;
}

#content ul.download li {
	margin: 0px;
	padding-left: 0px;
	list-style-position: inside;
	list-style-type: none;
	line-height: 120%;
	display: inline;
}

/*#content ul.download li {
	font-size: 120%;
}*/

/* Style de la page d'accueil *************************************************/
section#content.main {
	margin: 5px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
	color: #222;
	border-top: 1px solid MidnightBlue;
	background-image:-moz-linear-gradient(#EEE, white 60px);
	background-image:-webkit-linear-gradient(#EEE, white 60px);
	background-image:-o-linear-gradient(#EEE, white 60px);
	background-image:linear-gradient(#EEE, white 60px);
}

/* Style des droits ***********************************************************/
section#droits {
	margin-top: 5px;
	padding: 5px;
	background-color: #FEE;
	border: 1px solid Crimson;
	color: Crimson;
	margin-bottom: 5px;
}


/* Styles des tables pour les recherches **************************************/
table {
	border-collapse: collapse;
	border: 1px solid grey;
	width: 100%;
}

td, th {
	padding: 1px 3px;
}

tr:nth-child(even) {
	background: #EEE;
}

tr:nth-child(odd) {
	background: #FFF;
}

#searchbox {
	color: red;
	width: 600px;
	display: inline-block;
}

