* {
	margin: 0; padding: 0;}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	width: 100%;
	line-height: 150%;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 150%;
	margin-top: 5px;
	margin-bottom: 10px;
}

h2 {
	font-size: 125%;
	margin-top: 5px;
	margin-bottom: 8px;
}

h3 {
	font-size: 115%;
	margin-top: 3px;
	margin-bottom: 5px;
}

ul li {
	margin-left: 10px;
	list-style-position: inside;
	list-style-type: square;
}

a, a:link, a:visited, a:active, a:hover {
	color: MidnightBlue;
	cursor: pointer;
	text-decoration: underline;
}

/* Style du conteneur général */
#container {
	margin: 10px 10px;
}

/* Style du header Taln Archives */
header {
	padding: 5px;
	background-color: #EEF;
	border: 1px solid MidnightBlue;
	color: MidnightBlue;
}

header h1 {
	margin-top: 0px;
	margin-bottom: 5px;
}

header h2 {
	margin: 0px;
}

header a, header a:link, header a:active, header a:visited, header a:hover {
	text-decoration: none;
	color: MidnightBlue;
}

/* Style du footer */
footer {
	margin-top: 5px;
	padding: 5px;
	background-color: #EEF;
	border: 1px solid MidnightBlue;
	color: MidnightBlue;
	margin-bottom: 10px;
}

/* Style du info */
section#info {
	margin-top: 5px;
	padding: 5px;
	/*background-color: #EEE;*/
	/*border: 1px solid grey;*/
}

/* Style de la toc */
nav {
	margin-top: 5px;
	padding: 3px 5px;
	background-color: #EFE;
	border: 1px solid DarkGreen;
	width: 480px;
}

nav li {
	margin: 0px 0px 0px 5px;
	list-style-position: inside;
	list-style-type: none;
	line-height: 120%;
	font-size: 95%;
}

nav li:before {
	content: "\00BB \0020";
}

nav h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	text-shadow: none;
	font-weight: normal;
	margin: 0px;
	font-size: 110%;
}


/* Style du content */
#content {
	margin-top: 5px;
	padding: 5px 0px;
}

#content h1 {
	font-size: 140%;
	color: DarkGreen;
}

#content div.article {
	padding: 2px 5px;
	margin: 10px 0px;
	font-size: 95%;
	border: 1px solid LightGrey;
	line-height: 130%;
}

#content span.important {
	color: Crimson;
}

#content p.resume, #content p.mots_cles, #content p.abstract, #content p.keywords {
	background-color: white;
	border: 1px solid LightGrey;
	line-height: 120%;
	padding: 2px 5px;
	display: none;
}

/* Style des droits */
section#droits {
	margin-top: 5px;
	padding: 5px;
	background-color: #FEE;
	border: 1px solid Crimson;
	color: Crimson;
	margin-bottom: 10px;
}


/* Styles des tables pour les recherches */
table {
	border-collapse: collapse;
	border: 1px solid grey;
	width: 100%;
}

td, th {
	padding: 1px 3px;
}

tr:nth-child(even) {
	background: #EEE;
}

tr:nth-child(odd) {
	background: #FFF;
}

#searchbox {
	color: red;
	width: 600px;
	display: inline-block;
}

